@tailwind base;
@tailwind components;
@tailwind utilities;


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.text-dark-blue {
  color: #1e3a8a !important; /* Tailwind's blue-900 */
}

body, html {
    font-family: 'Poppins', sans-serif;
    
  }

